.fasteditor__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--icon-gap, 8px);
  padding: 10px 20px;
  border-style: solid;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
}

.fasteditor__button--icon-right {
  flex-direction: row-reverse;
}

.fasteditor__button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.fasteditor__button-icon-main,
.fasteditor__button-icon-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fasteditor__button-icon svg {
  display: block;
  color: inherit;
}

.svg-wrapper {
  color: var(--icon-color, currentColor);
}

.svg-wrapper svg {
  fill: currentColor;
  color: inherit;
}

.svg-wrapper svg path {
  fill: currentColor !important;
}

.fasteditor__button-icon img {
  display: block;
  object-fit: contain;
}

.fasteditor__button-text {
  display: inline-block;
}

.fasteditor__button:hover {
  opacity: .8;
}
.fasteditor__button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
